@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #2e86de;
$secondary: #6c757d;
$success: #1dd1a1;
$danger: #ee5253;
$warning: #feca57;
$info: #48dbfb;
$light: #f8f9fa;
$dark: #222f3e;

@import "bootstrap/scss/bootstrap";
